{% extends "layout.html" %}
{% block body %}
<body>
<div class="container">
    <div class="col-md-4">
        <img src="{{ url_for('static', filename='mugshot.png') }}" alt="A mugshot of my face" width="400" height="400">
    </div>
    <div class="col-md-8">
        <h1 class="over-image">Hi, I'm Sami</h1>
        <p class="over-image">I studied a BSc in Physics at Imperial College and an MSc in Computer Science at UCL.</p>
        <p class="over-image">I then worked in Technology Transfer at <a href="http://www.stfc.ac.uk/innovation/">STFC Innovation</a>, commercialising the intellectual property arrising from research in physical sciences and engineering.</p>
        <p class="over-image">After completing my degree in Computer Science I worked in high-frequency trading at a <a href="http://optiver.com/amsterdam/">leading market-maker in options</a> and built some trading automation software</p>
        <p class="over-image">I'm now applying my knowledge of software and financial technology to <a href="https://smarkets.com/">online sports betting</a>.</p>
        <p class="over-image">I've been trading and investing with my own money since I was 18 years old.</p>
        <p class="over-image">I write about <a href="{{ url_for('blog') }}">business, technology and investment</a>.</p>
        <ul class="nav navbar-nav">
            <li><a href="https://github.com/samistart" target="_blank">GitHub</a></li>
            <li><a href="https://uk.linkedin.com/in/samistart
" target="_blank">LinkedIn</a></li>
            <li><a href="https://www.goodreads.com/user/show/32367794-sami" target="_blank">Goodreads</a></li>
        </ul>
    </div>
</div>



</div>
</body>
{% endblock %}